.calculator__innner{
    padding: 50px 0;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.logo__img{
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.calculator__box{
    padding: 30px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(4, 96, 189, 0.365) 0px 0px 15px 0px;
}
.calculator__form{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.calculator__inp {
    width: 100%;
    max-width: 155px;
    border-radius: 25px;
    padding: 15px;

    background-color: #fff;
    outline-color: red;
    border: 3px solid #2196f3;
    text-align: center  ;
}

.calculator__select {
width: 100%;
max-width: 160px;
padding: 15px;
border-radius: 25px;
border: 1px solid gray;
outline-color: #2196f3;
border: 3px solid #2196f3;
appearance: none;
text-align: center;
}

.form__btn {
    width: 100%;
    max-width: 140px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #2196f3;
    color: #fff;
    border: 3px solid transparent;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease;
}

.form__btn:hover {

    border: 3px solid #2196f3;
    box-shadow: #2196f3 0px 0px 15px 0px;
    ;
}

.form__btn:active {
    box-shadow: none;
}


.calculator__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.calculator__item {
    padding: 20px 30px;
    width: 100%;
    max-width: 210px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #fff;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.648);
    box-shadow: rgba(255, 255, 255, 0.845) 0px 5px 15px 0px;
    transition: all 0.4s ease;
}

.calculator__item__img {
    width: 100%;
    max-width: 150px;
    display: block;
}

.calculator__item__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.water , .antifreeze{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;

}

*{
	position: relative;
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.wrapper{
	height: 100%;
	background-color: #d1a1ff;
}
.calculator__item{
	color: #fff;
	text-decoration: none;
	border: 3px solid #fff;
	border-radius: 18px;
	font-family: Helvetica;
	font-weight: 600;
	font-size:20px;
	line-height: 40px;
	letter-spacing: 2px;

	padding: 25px 60px;
	// position: absolute;
	top: 80px;
	left: 100px;
	transform: translate(-50%,-50%);

	overflow: hidden;
	transition: all 0.3s;
    padding: 20px;

}

.calculator__item:before{
	content: "";
	position: absolute;
	width: 320px;
	height: 320px;
	border-radius: 140px;
	background-color: rgba(23, 166, 222, 0.297);

	top: 70px;
	left: 50%;
	/*transform: translateX(-50%);*/

	animation: wave 5s infinite linear;
	transition: all 1s;
}
.second__item::before{
    background-color: rgba(255, 0, 0, 0.662);
}
@keyframes wave{
	0%{transform: translateX(-50%) rotate(0deg);

	} 
	100%{transform: translateX(-50%) rotate(360deg);

	}
}
.calculator__item:hover{
	color: #ffffff;
	/*transition: all 0.3s;*/
}
.calculator__item:hover:before{
	top: 25px;
	/*transition: all 1s;*/
}
.body{
    
}
    
@media only screen and (max-width: 600px){
    body{
        background-image: url(../../images/mountain4.jpg);
    }
    .calculator__box{
        padding: 80px 10px 80px 10px;
    }
    .calculator__form{
        margin-bottom: 80px;
    }
    .calculator__inp{
        max-width: 100px;
        padding: 10px;
    }
    .calculator__select{
        max-width: 100px;
        padding: 10px;
    }
    .form__btn{
        max-width: 100px;
        padding: 10px;
        font-size: 12px;
    }
    .calculator__item{
        padding: 10px 15px;
        max-width: 140px;
        left: 70px;
    }
    .calculator__item__img{
        margin: 0 auto;
        max-width: 100px;
    }
    .calculator__item__text{
        margin: 0;
    }
    .calculator__item__title{
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }
}


